<h1>AdminPage#category</h1>

<% if logged_in? && current_user.admin? %>
  <%= link_to 'Create Category', new_category_path, class: "btn btn-primary" %> 
<% end %>

<ul class="list-group">
 <%= render :partial => "categories/category", :collection => @categories, :locals => {admin_page: true} %> 
</ul>
<%= will_paginate @categories %>
