<% provide(:title, 'Edit Category') %> 

<h1>Category List</h1>

<% if logged_in? && current_user.admin? %>
  <%= link_to 'Create Category', new_category_path %> 
<% end %>
<ul class="categories">
  <%= render @categories %>
</ul>
